<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="lot1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    
  </configSections>
  <connectionStrings>
    <add name="lot1.Properties.Settings.LCBDConnectionString" connectionString="Data Source=lcbd.database.windows.net;Initial Catalog=LCBD;Persist Security Info=True;User ID=lcbd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <userSettings>
    <lot1.Properties.Settings>
      <setting name="MillesimeADateCourante" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormatDate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DateCouranteADateDuJour" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmplacementFichiersClient" serializeAs="String">
        <value />
      </setting>
      <setting name="EmplacementModeles" serializeAs="String">
        <value />
      </setting>
      <setting name="EmplacementFichiersGeneres" serializeAs="String">
        <value />
      </setting>
      <setting name="EnregistrerFichiersGoogleDrive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnregistrerFichiersLocal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BDDNomUtilisateur" serializeAs="String">
        <value />
      </setting>
      <setting name="BDDMotDePasse" serializeAs="String">
        <value />
      </setting>
      <setting name="BDDNomHote" serializeAs="String">
        <value />
      </setting>
      <setting name="BDDNom" serializeAs="String">
        <value />
      </setting>
      <setting name="FormesJuridiques" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>EI</string>
            <string>EIRL</string>
            <string>EURL</string>
            <string>SA</string>
            <string>SARL</string>
            <string>SAS</string>
            <string>SASU</string>
            <string>SC</string>
            <string>SCA</string>
            <string>SCIC</string>
            <string>SCOP</string>
            <string>SNC</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DelimiteurDebutVariable" serializeAs="String">
        <value>{{</value>
      </setting>
      <setting name="DelimiteurFinVariable" serializeAs="String">
        <value>}}</value>
      </setting>
    </lot1.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>